<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Tuấn Cường 2</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Phòng trọ -->
    <li class="nav-item">
        <a class="nav-link" href="../Admin/Home">
            <i class="fa fa-home"></i>
            <span>Phòng trọ</span>
        </a>
    </li>

    <!-- Nav Item - Thiết bị -->
    <li class="nav-item">
        <a class="nav-link" href="../Admin/Device">
            <i class="fas fa-fw fa-cog"></i>
            <span>Thiết bị</span>
        </a>
    </li>

    <!-- Nav Item - Hợp đồng -->
    <li class="nav-item">
        <a class="nav-link" href="../Admin/Contract">
            <i class="fa fa-address-book"></i>
            <span>Hợp đồng</span>
        </a>
    </li>

    <!-- Nav Item - Khách thuê -->
    <li class="nav-item">
        <a class="nav-link" href="../Admin/Guest">
            <i class="fa fa-user-circle"></i>
            <span>Khách thuê</span>
        </a>
    </li>

    <!-- Nav Item - Xuất hóa đơn -->
    <li class="nav-item">
        <a class="nav-link" href="../Admin/Bill">
            <i class="fa fa-print"></i>
            <span>Xuất hóa đơn</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>

